@media all and (min-width: 480px) {


  .submit {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: blue;
    color:white;
  }
  
  .submit:hover {
    background-color: black; 
    color: white;
  }
  
  }