@media all and (min-width: 480px) {
    .Header {
      color: #333;
      font-size:32px;
      font-weight: bold;
    }
    
}
.jumbo {
  color: white;
  background-color: grey;
  margin-top: 2%;
}