.regText {
    margin: 0 auto;
    text-align:center;
    }

.registerText {
    text-align:center;
    color:black;
    font-size:16px;
    text-align:center;
    margin-bottom: 2%;
    }
    
