@media all and (min-width: 480px) {

  
    .Login form {
      color:black;
      max-width: 320px;
    }

    .RegisterBtn {
      color:black;
      margin: 0 auto;
      margin-top: 8%;
      max-width: 200px;
      
    }
    .LoginBtn {
      color:black;
      margin: 0 auto;
      margin-top: 10%;
      max-width: 300px;
    }
  
    .submit {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      background-color: blue;
      color:white;
     
    }

    .pfont {
      font-size: 15px;
    }

    .btn {
      margin: 5px;
      width: 200px;
    }
    .spacing {
      margin-top: 30px;
      color: white;
    }
    
    .submit:hover {
      background-color: black; 
      color: white;
    }
  
  
  }