@media all and (min-width: 480px) {
    .LoginText {
      text-align:center;
      color:black;
      font-size:16px;
    }
    .pfont {
      color: #000000;
    }
    .regBtn {
      background-color: rgb(91, 8, 91)
      
    }
    .forgotBtn{
      background-color: black
    }
    .subBtn {
      background-color: rgb(26, 26, 152)
      
    }
    .subBtn:hover{
      background-color: rgb(91, 8, 91)
    }

 
  
  .card{
    padding: 7px;
    margin-top: 6px;
    background-color: #eee;
    border: 2px solid grey;
    color: black;
  }
  }